#!/bin/bash

# dev
alias shop='dev cd shopify && color green'
alias rust='dev cd price-rs && color orange'
alias web='dev cd web//admin-web && color red'
alias sfr='dev cd sfr && color red'
alias wrk='dev hedwig worker'
alias sch='dev hedwig scheduler'
alias enq='dev hedwig enqueuer'
alias jobs='dev jobs'
alias style='dev style --include-branch-commits'
alias test='dev test --include-branch-commits'
alias typecheck='dev typecheck -a'

